*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:roboto;
  }
  html,body{
  
       height:100%;
       width:100%;
  }
  #container{
      height:100%;
      width:100%;
      position:relative;
    }
  #nav{
      display:flex;
      padding-right:8px;
      padding-top:8px;
      position:fixed;
      right:0;
  }
  #nav h5{
      font-size:20px;
      font-weight:bold;
      border:2px solid black;
      background-color:black;
      color:white;
      padding:15px;
      margin-right:8px;
      border-radius:100px;
      line-height:0;
  }
  #part1 #p1-h1{
    font-size:100px;
    padding-left:2%;
    font-weight:semibold;
}
#part1 #p1-end{
    display:flex;
    justify-content:space-between;
    padding:5px 20px;
}
#part1 #p1-end h5{
    margin-right:5px;
}
#part2{
    height:100%;
    width:100%;
}
#part2 img{
    height:100%;
    width:100%;
  padding:10px 20px;
}  
#part3{
    height:100%;
    width:100%;
    display:flex;
}
#part3 #p3-left h1{
    padding-top:2%;
    font-size:75px;
    padding-left:2%;
    padding-right:2%;;
    font-weight:semibold;
    border-right:black solid;
}